#block_page {
	width: 110rem;
	height:60rem;
	margin: auto;
}

h1 {
	font-size: 5rem;
	text-align: center;
	vertical-align: middle;
}

h2 {
	font-size: 0.7rem;
	vertical-align: middle;
}

h3 {
	font-size: 0.5rem;
}

.tooltip {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}

#bouton_valider {
}

#bouton_transmettre {
}

#bouton_reinitialisation {
}

#bouton_imprimer {
}

.presentation_simple {
	margin: 3px;
}

#tab_carac {
	width: 35rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

/*#caption_carac, #caption_ca, #caption_init, #caption_sau, #caption_lut {*/
.caption {	
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
}

.font_white {
	font-size: 1rem;
	color: white;
	border: 2px solid black;
	background-color: black;
	text-align: center;
}

td {
	border: 2px solid black;
}

#tab_ca {
	width: 72rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

.background_grey {
	text-align: center;
	vertical-align: middle;
	color: black;
	border: 2px solid black;
	background-color: lightgrey;
}

#lab_ca_contact {
	width: 8rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#val_ca_contact {
	margin: 3px;
}

#lab_pri_depourvu {
	width: 10rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#val_pri_depourvu {
	margin: 3px;
}

#label_mod_part_ca {
	width: 14rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#mod_part_ca {
	margin: 3px;
}

#label_blessure, #label_non_letaux {
	margin: 3px;
}

#mod_div_lut {
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
}

#label_pv {
	width: 2rem;
	text-align: center;
	vertical-align: middle;
}

#label_red_deg {
	width: 3rem;
	text-align: center;
	vertical-align: middle;
}

#tab_init {
	width: 35rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#tab_sau {
	width: 73rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#label_bba {
	margin: 3px;
}

#bba {
	margin: 3px;
}

#label_rm {
	margin: 3px;
}

#tab_rm {
	margin: 3px;
}

#tab_bmo {
	width: 73rem;
	margin: 3px;
}

#tab_dmd {
	width: 73rem;
	margin: 3px;
}

#dmd_mod_div {
	text-align: center;
	vertical-align: middle;
}

#label_famille_arme_I, #label_famille_arme_II, #label_famille_arme_III, #label_famille_arme_IV, #label_famille_arme_V {
	margin: 3px;
}

#famille_arme_I, #famille_arme_II, #famille_arme_III, #famille_arme_IV, #famille_arme_V {
	margin: 3px;
}

#label_maniement_arme_I, #label_maniement_arme_II, #label_maniement_arme_III, #label_maniement_arme_IV,#label_maniement_arme_V {
	margin: 3px;
}

#maniement_arme_I, #maniement_arme_II, #maniement_arme_III, #maniement_arme_IV,#maniement_arme_V {
	margin: 3px;
}

#tab_arme_a_I, #tab_arme_a_II, #tab_arme_a_III, #tab_arme_a_IV, #tab_arme_a_V {
	width: 73rem;
	margin: 3px;
}

#tab_vd_a, #tab_vd_b {
	width: 36rem;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
}

#competences {
	width: 36rem;
	margin: 3px;
}

.center {
	text-align: center;
	vertical-align: middle;
}

#competences {
	margin: 3px;
}

#total_competences {
	width: 11rem;
}

#somme_competences {
	width: 7rem;
}

#points_restants {
	width: 4rem;
}

#label_modif_part {
	margin-top: 3px;
}

#modif_part {
	margin-bottom: 3px;
}

#label_langues {
	margin-top: : 3px;
}

#langueIV {
	margin-bottom: 3px;
}

#protection {
	width: 72rem;
	margin: 3px;
}

#equipement {
	width: 24rem;
	margin: 3px;
}

#Somme_poids {
	margin: 3px;
}

#capaciteDeCharge, #richesses {
	width: 24rem;
	margin: 3px;
}

#pc, #pa, #po, #pp {
	vertical-align: middle;
}

#table_don, #table_capacites_speciales, #table_experience, #table_traits_raciaux {
	width: 47rem;
	margin: 3px;
}

#table_sorts {
	width: 36rem;
	margin: 3px;
}

#dd_des_sorts_0, #sorts_jour_0, #sorts_en_bonus_0,
#dd_des_sorts_I, #sorts_jour_I, #sorts_en_bonus_I,
#dd_des_sorts_II, #sorts_jour_II, #sorts_en_bonus_II,
#dd_des_sorts_III, #sorts_jour_III, #sorts_en_bonus_III,
#dd_des_sorts_IV, #sorts_jour_IV, #sorts_en_bonus_IV,
#dd_des_sorts_V, #sorts_jour_V, #sorts_en_bonus_V,
#dd_des_sorts_VI, #sorts_jour_VI, #sorts_en_bonus_VI,
#dd_des_sorts_VII, #sorts_jour_VII, #sorts_en_bonus_VII,
#dd_des_sorts_VIII, #sorts_jour_VIII, #sorts_en_bonus_VIII,
#dd_des_sorts_IX, #sorts_jour_IX, #sorts_en_bonus_IX {
	text-align: center;
}

#label_modif_part_sort {
	margin-top: 3px;
}

#modif_part_sort {
	margin-bottom: 3px;
}

#table_dom_spe {
	width: 36rem;
	margin: 3px;
}
